.search-bar {
  padding: 2rem var(--pg-padding-y);
  border-bottom: var(--default-border);
}

.search-bar__input-container {
  position: relative;
}

.search-bar__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin: auto 1rem;
}

.search-bar__input {
  border: 1px solid var(--colour-primary);
  border-radius: 3rem;
  outline: none;

  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.6rem;

  text-overflow: ellipsis;

  &:focus {
    background-color: rgba($color: var(--colour-primary-rgb), $alpha: 0.1);
    box-shadow: none;
    color: var(--colour-primary);
  }
}
