.no-products {
  padding: var(--pg-padding-x) var(--pg-padding-y);
}

.no-products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colour-secondary);
  row-gap: 1rem;
  padding: 2rem;
  @media (min-width: 768px) { padding: 4rem 2rem; }
  @media (min-width: 1024px) { padding: 6rem 2rem; }
  @media (min-width: 1280px) { padding: 8rem 2rem; }
}

.no-products__content > img {
  width: var(--image-size);

  --image-size: 20rem;
  @media (min-width: 1024px) { --image-size: 24rem; }
  @media (min-width: 1280px) { --image-size: 28rem; }

}

.no-products__content > h2 {
  font-size: var(--heading-size);

  --heading-size: 1.6rem;
  @media (min-width: 640px) { --heading-size: 1.8rem; }
  @media (min-width: 1024px) { --heading-size: 2rem; }
  @media (min-width: 1280px) { --heading-size: 2.4rem; }
}
.no-products__content > p {
  text-align: center;
  font-size: var(--description-size);

  --description-size: 1.2rem;
  @media (min-width: 640px) { --description-size: 1.4rem; }
  @media (min-width: 768px) { --description-size: 1.6rem; }
  @media (min-width: 1024px) { --description-size: 1.8rem; }
}
