.password-input {
  position: relative;
  display: flex;

  > .storefront-input {
    flex: 1;
  }
}

.password-input__visibility-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -40%);
}
